{% extends 'main/layout/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Кинотеатры' %}
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 1340px; background: #f2f3f4; padding-bottom: 50px; padding-top: 30px;">
        <div class="row">
            <div class="col-xl-10 col-md-9">
                <h2 style="text-align: center">{% trans 'Наши кинотеатры' %}</h2>
                <div class="row" style="padding-top: 30px">
                {% for cinema in cinemas %}
                    <div class="col-xl-6" style="text-align: center">
                        <a href="{% url 'concrete_cinema' cinema.id %}"><img src="{{ cinema.logo.url }}" width="390" height="260"></a><br/>
                        <a href="{% url 'concrete_cinema' cinema.id %}" style="color: black"><p style="font-size: 20px">{{ cinema.name }}</p></a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-xl-2 col-md-3" style="text-align: center">
                <div style="max-height: 400px; overflow: hidden; text-align: center; padding-top: 20px">
                    <img src="{% static 'cms/dist/img/context_promo' %}" class="img-fluid">
                </div>
                <p style="text-align: center">{% trans 'Контекстная реклама' %}</p>
            </div>
        </div>
        <div class="row" style="padding-top: 50px">
            <div class="col-xl-10 col-md-9"></div>
            <div class="col-xl-2 col-md-3" style="text-align: center">
                <div style="max-height: 400px; overflow: hidden; text-align: center; padding-top: 20px">
                    <img src="{% static 'cms/dist/img/context_promo' %}" class="img-fluid">
                </div>
                <p style="text-align: center">{% trans 'Контекстная реклама' %}</p>
            </div>
        </div>
    </div>
{% endblock %}