{% extends 'main/layout/base.html' %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta property="og:url" content="{{ film.seo.url }}"/>
    <meta name="title" content="{{ film.seo.title }}"/>
    <meta name="keywords" content="{{ film.seo.keyword }}"/>
    <meta name="description" content="{{ film.seo.description }}"/>
{% endblock %}

{% block title %}
    {{ film.name }}
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 1340px; background: #f2f3f4; padding-top: 20px">
        <div>
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ film.trailer }}?autoplay=1&mute=1"></iframe>
        </div>
        <div class="row" style="text-align: center; padding-top: 30px">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-5">
                        <h3>{% trans 'Расписание сеансов кинотеатра' %}:</h3>
                    </div>
                    <div class="col-xl-3  col-md-6" style="max-width: 250px; margin-bottom: 10px">
                        <select id="cinema" name="cinema" class="form-select">
                            <option value="all">{% trans 'Кинотеатр: все' %}</option>
                            {% for cinema in cinemas %}
                            <option id="cinema-{{ forloop.counter0 }}" class="selected-cinema" value="{{ cinema.id }}">{{ cinema.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="row">
                            <div class="col-xl-3 col-md-3 col-sm-3" style="padding-bottom: 5px">
                                <button id="all" value="false" class="btn btn-dark" style="min-width: 59px"><b>Все</b></button>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-3" style="padding-bottom: 5px">
                                <button id="2d" value="false" class="btn btn-outline-dark" style="min-width: 59px"><b>2D</b></button>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-3" style="padding-bottom: 5px">
                                <button id="3d" value="false" class="btn btn-outline-dark" style="min-width: 59px"><b>3D</b></button>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-3" style="padding-bottom: 5px">
                                <button id="imax" value="false" class="btn btn-outline-dark" style="min-width: 59px"><b>IMAX</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10" style="padding-top: 30px">
                <div class="row">
                    {% for date in dates %}
                        <div class="col-xl-3 col-md-3 col-sm-4" style="padding-bottom: 20px; text-align: left">
                            <button onclick="get_date(this.id)" id="date-{{ forloop.counter }}" value="{{ date|date:"j" }}" type="button" style="border: black 0 solid">
                                <table class="text-center table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="font-size: 24px; min-width: 150px">{{ date|date:"j D" }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 24px; width: 100%">{{ date|date:"E" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-xl-2">
                <h3 id="name_cinema">{% trans 'Кинотеатр: все' %}</h3>
            </div>
            <div class="col-xl-10">
                <div class="row" id="sessionsrow">
                    {% for session in sessions %}
                        <div class="col-xl-3 col-md-3 col-sm-4" style="padding-bottom: 20px">
                            <a href="{% url 'ticket' session.id %}" style="color: black">
                            <table class="text-center table-bordered">
                                <thead>
                                    <tr>
                                        <th style="font-size: 24px; min-width: 150px">{{ session.time|date:"H:i" }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-size: 24px; width: 100%">{% trans 'Зал' %} {{ session.hall.hall_number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row" id="sessions1" style="display: none">
                    <p id="no-sessions" style="text-align: left; font-size: 28px; padding-top: 15px; display: none" class="text-muted">{% trans 'Нет доступных сеансов' %}</p>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-xl-4 col-md-5" style="text-align: -webkit-center; padding-right: 30px; padding-left: 30px; padding-bottom: 30px">
                <img src="{{ film.main_picture.url }}" width="100%" height="500px">
            </div>
            <div class="col-xl-8 col-md-7" style="padding-left: 30px; padding-right: 30px">
                <div style="text-align: center">
                    <button value="{{ film.id }}" class="sessions btn btn-success" style="border: 2px black solid; width: 300px; height: 50px"><a href="{% url 'sessions' %}" style="color: black"><b>{% trans 'Купить билет' %}</b></a></button>
                </div>
                <div style="padding-top: 30px">
                    <h3 style="text-align: center">{{ film.name }}</h3>
                </div>
                <div style="padding-top: 30px">
                    <p style="text-indent: 2em">{{ film.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10" style="padding-top: 30px">
                <h3 style="text-align: center">{% trans 'Кадры и постеры' %}</h3>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    {% for image in images %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter0 }}"></button>
                    {% endfor %}
                  </div>
                  <div class="carousel-inner">
                    {% for img in images %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                      <img src="{{ img.image.url }}" height="400" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                  </button>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8" style="text-align: -webkit-center; padding-top: 100px; padding-bottom: 100px">
                <img src="{% static 'cms/dist/img/avada.png' %}" height="170" width="100%">
            </div>
            <div class="col-xl-2"></div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/film-filter.js' %}"></script>
    <script>
        function get_data(){
            $.ajax({
                url: '{% url "film_card" film.id %}',
                type: 'GET',
                data: {
                    'cinema_id': cinema_id.get('cinema_id'),
                    'date': date.get('date'),
                    '2d': d2.get('2d'),
                    '3d': d3.get('3d'),
                    'imax': imax.get('imax'),
                    'type_all': type_all.get('type_all')
                },
                success: (data) => {
                    $(function (){
                        if (f_data.length === 0){
                            $('#no-sessions').css('display', 'block')
                        } else {
                            $('#no-sessions').css('display', 'none')
                        }
                    })
                    $('#sessionsrow').css('display', 'none')
                    $('#sessions1').css('display', 'block')
                    $('.old-data').css('display', 'none')
                    let f_data = data.json_data;
                    let html = '';
                    $(f_data).each(function(index, value) {
                        html += "<div class='old-data col-xl-3 col-md-3 col-sm-4' style='padding-bottom: 20px'><a href='/sessions/" + value.pk + "/buy-ticket' style='color: black'><table class='text-center table-bordered'><thead><tr><th style='font-size: 24px; min-width: 150px'>" + value.time + "</th></tr></thead><tbody><tr><td style='font-size: 24px; width: 100%'>{% trans 'Зал' %} " + value.hall + "</td></tr></tbody></table></a></div>"
                    })
                    $('#sessions1').append(html)
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }

        $('.sessions').on('click', function (){
            localStorage.removeItem('cinema_id')
            localStorage.setItem('film_name', $(this).val())
        })
    </script>
{% endblock %}