{% extends 'main/layout/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Купить билет
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/style/ticket.css' %}">
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 1340px; background: #f2f3f4; padding-bottom: 50px; padding-top: 20px">
        <div style="text-align: -webkit-center;">
            <img src="{% static 'cms/dist/img/about_cinema.jpg' %}" width="100%" height="470">
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-3" style="padding-left: 30px; padding-right: 30px">
                <div>
                    <div style="text-align: -webkit-center; padding-top: 20px">
                        <img src="{{ session.film.main_picture.url }}" width="100%" height="400">
                    </div>
                </div>
                <div>
                    <div style="text-align: -webkit-center; padding-top: 50px; padding-right: 20px; padding-left: 20px">
                        <img src="{% static 'cms/dist/img/context_promo' %}" width="100%" height="350">
                    </div>
                    <p style="text-align: center; padding-top: 10px">{% trans 'Контекстная реклама' %}</p>
                </div>
                <div class="row">
                    <div class="col-xl-6" style="text-align: -webkit-center; padding: 30px; max-width: 150px">
                        <a href="https://next.privat24.ua/"><img src="{% static 'cms/dist/img/privat.jpg' %}" width="100%" height="80"></a>
                        <p style="font-size: 13px">{% trans 'Карта приват' %}</p>
                    </div>
                    <div class="col-xl-6" style="text-align: -webkit-center; padding: 30px; max-width: 150px">
                        <a href="https://www.ipay.ua/ru"><img src="{% static 'cms/dist/img/ipay.png' %}" width="100%" height="80"></a>
                        <p style="font-size: 13px">{% trans 'Другая карта' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-9">
                <p style="text-align: center; max-width: 500px; margin-top: 40px; color: white; text-transform: uppercase; height: 40px; padding-top: 5px; font-size: 20px; background-color: #ba4027"><b>{{ session.film.name }}</b></p>
                <p style="text-transform: uppercase; font-size: 18px" class="text-muted">{{ session.time|date:"j E, H:i" }}, {% trans 'Зал' %} №{{ session.hall.hall_number }}</p>
                <div class="row">
                    <div class="col-xl-3 col-md-3" style="padding-top: 11px">
                        <p style="font-size: 18px">{% trans 'ЦЕНА В ГРН.' %}: <span id="cost" style="background-color: #f9c835; color: white; font-size: 20px; padding: 3px"><b>{{ session.cost }}</b></span></p>
                    </div>
                    <div class="col-xl-3 col-md-3" style="padding-top: 11px">
                        <p style="font-size: 18px">{% trans 'ЗАБРОНИРОВАНО' %}: <span id="numb-reserved" style="background-color: #cbcbcb; color: white; font-size: 20px; padding: 3px 10px 3px 10px"><b>0</b></span></p>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <p style="font-size: 18px; display: inline-block; padding-right: 5px">
                            {% trans 'ВАШ ЗАКАЗ' %}:
                            <p style="font-size: 18px; display: inline-block; height: 50px; border: #f9c835 4px solid; padding-top: 9px; padding-right: 4px; padding-left: 4px">
                                {% trans 'БИЛЕТОВ' %}:
                                    <span id="num_tickets" style="color: red; font-size: 18px; padding-right: 40px">0</span>
                                {% trans 'СУММА' %}:
                                    <span class="num_cost" style="color: red; font-size: 18px">0 </span ><span style="color: red; font-size: 18px">грн.</span>
                            </p>
                        </p>
                    </div>
                </div>
                <div style="position: relative; text-align: -webkit-center">

                    <svg viewBox="0 0 879 533">
                        <!--ROW 1-->
                        <path class="part unselected" d="m 226.12452,91.102371 37.38093,-0.236776 0.35683,36.970275 -38.07903,-0.06 z" fill="#ba4027" row="1" place="1"></path>
                        <path class="part unselected" d="m 266.38389,91.183499 37.38093,-0.236776 0.35683,36.970267 -38.07903,-0.06 z" fill="#ba4027" row="1" place="2"></path>
                        <path class="part unselected" d="m 306.55863,91.190006 37.38093,-0.236776 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="1" place="3"></path>
                        <path class="part unselected" d="m 346.42919,91.170407 37.38093,-0.236776 0.35683,36.970269 -38.07903,-0.06 z" fill="#ba4027" row="1" place="4"></path>
                        <path class="part unselected" d="m 386.45812,91.267758 37.38093,-0.236776 0.35683,36.970258 -38.07903,-0.06 z" fill="#ba4027" row="1" place="5"></path>
                        <path class="part unselected" d="m 426.65312,91.319262 37.38093,-0.236776 0.35683,36.970254 -38.07903,-0.06 z" fill="#ba4027" row="1" place="6"></path>
                        <path class="part unselected" d="m 466.1723,91.268112 37.38093,-0.23677 0.35683,36.970248 -38.07903,-0.06 z" fill="#ba4027" row="1" place="7"></path>
                        <path class="part unselected" d="m 506.30862,91.425009 37.38093,-0.236776 0.35683,36.970257 -38.07903,-0.06 z" fill="#ba4027" row="1" place="8"></path>
                        <path class="part unselected" d="m 546.22574,91.406207 37.38093,-0.23678 0.35683,36.970263 -38.07903,-0.06 z" fill="#ba4027" row="1" place="9"></path>
                        <path class="part unselected" d="m 586.43604,91.684339 37.38093,-0.236776 0.35683,36.970257 -38.07903,-0.06 z" fill="#ba4027" row="1" place="10"></path>
                        <path class="part unselected" d="m 626.78603,91.555109 37.38093,-0.23678 0.35683,36.970281 -38.07903,-0.06 z" fill="#ba4027" row="1" place="11"></path>
                        <path class="part unselected" d="m 666.48195,91.562385 37.38093,-0.236776 0.35683,36.970261 -38.07903,-0.06 z" fill="#ba4027" row="1" place="12"></path>
                        <!--ROW 2-->
                        <path class="part unselected" d="m 186.78126,131.28404 37.38093,-0.23677 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="1"></path>
                        <path class="part unselected" d="m 226.29378,131.27102 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="2"></path>
                        <path class="part unselected" d="m 266.38726,131.33984 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="3"></path>
                        <path class="part unselected" d="m 306.31452,131.42378 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="2" place="4"></path>
                        <path class="part unselected" d="m 346.51889,131.42878 37.38093,-0.23677 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="5"></path>
                        <path class="part unselected" d="m 386.89193,131.39313 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="2" place="6"></path>
                        <path class="part unselected" d="m 426.71931,131.52587 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="2" place="7"></path>
                        <path class="part unselected" d="m 466.73115,131.43285 37.38093,-0.23677 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="8"></path>
                        <path class="part unselected" d="m 506.96671,131.3877 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="2" place="9"></path>
                        <path class="part unselected" d="m 546.61126,131.43545 37.38093,-0.23677 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="10"></path>
                        <path class="part unselected" d="m 586.52754,131.41897 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="11"></path>
                        <path class="part unselected" d="m 626.65411,131.2687 37.38093,-0.23677 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="2" place="12"></path>
                        <path class="part unselected" d="m 666.81045,131.22022 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="2" place="13"></path>
                        <path class="part unselected" d="m 706.9793,131.24553 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="2" place="14"></path>
                        <!--ROW 3-->
                        <path class="part unselected" d="m 166.35731,171.56564 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="3" place="1"></path>
                        <path class="part unselected" d="m 206.61668,171.64677 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="3" place="2"></path>
                        <path class="part unselected" d="m 246.79142,171.65328 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="3" place="3"></path>
                        <path class="part unselected" d="m 286.66198,171.63368 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="3" place="4"></path>
                        <path class="part unselected" d="m 326.69091,171.73103 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="5"></path>
                        <path class="part unselected" d="m 366.88591,171.78253 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="3" place="6"></path>
                        <path class="part unselected" d="m 406.40509,171.73138 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="3" place="7"></path>
                        <path class="part unselected" d="m 446.54141,171.88828 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="8"></path>
                        <path class="part unselected" d="m 486.45853,171.86948 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="9"></path>
                        <path class="part unselected" d="m 526.58531,172.01025 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="10"></path>
                        <path class="part unselected" d="m 566.78,171.94796 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="3" place="11"></path>
                        <path class="part unselected" d="m 606.71474,171.83831 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="12"></path>
                        <path class="part unselected" d="m 646.94272,171.75419 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="13"></path>
                        <path class="part unselected" d="m 686.82589,171.51108 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="14"></path>
                        <path class="part unselected" d="m 726.71771,171.32523 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="3" place="15"></path>
                        <!--ROW 4-->
                        <path class="part unselected" d="m 209.05376,251.67679 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="4" place="1"></path>
                        <path class="part unselected" d="m 249.2285,251.6833 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="4" place="2"></path>
                        <path class="part unselected" d="m 289.09906,251.6637 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="4" place="3"></path>
                        <path class="part unselected" d="m 329.12799,251.76105 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="4" place="4"></path>
                        <path class="part unselected" d="m 369.32299,251.81256 37.38093,-0.23678 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="4" place="5"></path>
                        <path class="part unselected" d="m 408.84217,251.76141 37.38093,-0.23677 0.35683,36.97024 -38.07903,-0.06 z" fill="#ba4027" row="4" place="6"></path>
                        <path class="part unselected" d="m 448.97849,251.9183 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="4" place="7"></path>
                        <path class="part unselected" d="m 488.89561,251.8995 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="4" place="8"></path>
                        <path class="part unselected" d="m 529.10591,252.17763 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="4" place="9"></path>
                        <path class="part unselected" d="m 569.4559,252.0484 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="4" place="10"></path>
                        <path class="part unselected" d="m 609.15182,252.05568 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="4" place="11"></path>
                        <path class="part unselected" d="m 649.12153,252.05028 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="4" place="12"></path>
                        <path class="part unselected" d="m 689.08305,251.9657 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="4" place="13"></path>
                        <!--ROW 5-->
                        <path class="part unselected" d="m 209.23681,291.66333 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="5" place="1"></path>
                        <path class="part unselected" d="m 249.41155,291.66984 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="5" place="2"></path>
                        <path class="part unselected" d="m 289.28211,291.65024 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="5" place="3"></path>
                        <path class="part unselected" d="m 329.31104,291.74759 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="5" place="4"></path>
                        <path class="part unselected" d="m 369.50604,291.7991 37.38093,-0.23678 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="5" place="5"></path>
                        <path class="part unselected" d="m 409.02522,291.74795 37.38093,-0.23677 0.35683,36.97024 -38.07903,-0.06 z" fill="#ba4027" row="5" place="6"></path>
                        <path class="part unselected" d="m 449.16154,291.90484 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="5" place="7"></path>
                        <path class="part unselected" d="m 489.07866,291.88604 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="5" place="8"></path>
                        <path class="part unselected" d="m 529.28896,292.16417 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="5" place="9"></path>
                        <path class="part unselected" d="m 569.63895,292.03494 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="5" place="10"></path>
                        <path class="part unselected" d="m 609.33487,292.04222 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="5" place="11"></path>
                        <path class="part unselected" d="m 649.30458,292.03682 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="5" place="12"></path>
                        <path class="part unselected" d="m 689.2661,291.95224 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="5" place="13"></path>
                        <!--ROW 6-->
                        <path class="part unselected" d="m 208.93237,331.53925 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="6" place="1"></path>
                        <path class="part unselected" d="m 249.10711,331.54576 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="6" place="2"></path>
                        <path class="part unselected" d="m 288.97767,331.52616 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="6" place="3"></path>
                        <path class="part unselected" d="m 329.0066,331.62351 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="6" place="4"></path>
                        <path class="part unselected" d="m 369.2016,331.67502 37.38093,-0.23678 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="6" place="5"></path>
                        <path class="part unselected" d="m 408.72078,331.62387 37.38093,-0.23677 0.35683,36.97024 -38.07903,-0.06 z" fill="#ba4027" row="6" place="6"></path>
                        <path class="part unselected" d="m 448.8571,331.78076 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="6" place="7"></path>
                        <path class="part unselected" d="m 488.77422,331.76196 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="6" place="8"></path>
                        <path class="part unselected" d="m 528.98452,332.04009 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="6" place="9"></path>
                        <path class="part unselected" d="m 569.33451,331.91086 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="6" place="10"></path>
                        <path class="part unselected" d="m 609.03043,331.91814 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="6" place="11"></path>
                        <path class="part unselected" d="m 649.00014,331.91274 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="6" place="12"></path>
                        <path class="part unselected" d="m 688.96166,331.82816 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="6" place="13"></path>
                        <!--ROW 7-->
                        <path class="part unselected" d="m 209.11542,371.52579 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="7" place="1"></path>
                        <path class="part unselected" d="m 249.29016,371.5323 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="7" place="2"></path>
                        <path class="part unselected" d="m 289.16072,371.5127 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="7" place="3"></path>
                        <path class="part unselected" d="m 329.18965,371.61005 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="7" place="4"></path>
                        <path class="part unselected" d="m 369.38465,371.66156 37.38093,-0.23678 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="7" place="5"></path>
                        <path class="part unselected" d="m 408.90383,371.61041 37.38093,-0.23677 0.35683,36.97024 -38.07903,-0.06 z" fill="#ba4027" row="7" place="6"></path>
                        <path class="part unselected" d="m 449.04015,371.7673 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="7" place="7"></path>
                        <path class="part unselected" d="m 488.95727,371.7485 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="7" place="8"></path>
                        <path class="part unselected" d="m 529.16757,372.02663 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="7" place="9"></path>
                        <path class="part unselected" d="m 569.51756,371.8974 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="7" place="10"></path>
                        <path class="part unselected" d="m 609.21348,371.90468 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="7" place="11"></path>
                        <path class="part unselected" d="m 649.18319,371.89928 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="7" place="12"></path>
                        <path class="part unselected" d="m 689.14471,371.8147 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="7" place="13"></path>
                        <!--ROW 8-->
                        <path class="part unselected" d="m 208.97789,411.42624 37.38093,-0.23677 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="8" place="1"></path>
                        <path class="part unselected" d="m 249.29016,371.5323 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="8" place="2"></path>
                        <path class="part unselected" d="m 289.16072,371.5127 37.38093,-0.23678 0.35683,36.97027 -38.07903,-0.06 z" fill="#ba4027" row="8" place="3"></path>
                        <path class="part unselected" d="m 329.18965,371.61005 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="8" place="4"></path>
                        <path class="part unselected" d="m 369.38465,371.66156 37.38093,-0.23678 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="8" place="5"></path>
                        <path class="part unselected" d="m 408.90383,371.61041 37.38093,-0.23677 0.35683,36.97024 -38.07903,-0.06 z" fill="#ba4027" row="8" place="6"></path>
                        <path class="part unselected" d="m 449.04015,371.7673 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="8" place="7"></path>
                        <path class="part unselected" d="m 488.95727,371.7485 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="8" place="8"></path>
                        <path class="part unselected" d="m 529.16757,372.02663 37.38093,-0.23677 0.35683,36.97025 -38.07903,-0.06 z" fill="#ba4027" row="8" place="9"></path>
                        <path class="part unselected" d="m 569.51756,371.8974 37.38093,-0.23678 0.35683,36.97028 -38.07903,-0.06 z" fill="#ba4027" row="8" place="10"></path>
                        <path class="part unselected" d="m 609.21348,371.90468 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="8" place="11"></path>
                        <path class="part unselected" d="m 649.18319,371.89928 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="8" place="12"></path>
                        <path class="part unselected" d="m 689.14471,371.8147 37.38093,-0.23678 0.35683,36.97026 -38.07903,-0.06 z" fill="#ba4027" row="8" place="13"></path>
                    </svg>

                    <img src="{% static 'cms/dist/img/scheme.jpg' %}" width="100%">
                </div>
                <p style="padding-top: 40px">{% trans 'Стоимость услуги бронирования' %} - {{ session.cost }} грн. {% trans 'за каждое место' %}.</p>
                <p style="text-transform: uppercase; padding-bottom: 40px">{% trans 'Забронированные билеты нужно выкупить в кассе кинотеатра не позднее, чем за пол часа до начала сеанса' %}.</p>
                <div style="text-align: center">
                    <button type="button" class="reserve-btn btn btn-outline-dark" style="border: black 2px solid; width: 200px; margin-right: 30px"><b>{% trans 'Забронировать' %}</b></button>
                    <button id="for-buy" type="button" class="btn btn-success" style="border: black 2px solid; width: 200px; color: black" data-bs-toggle="modal" data-bs-target="#buyModal"><b>{% trans 'Купить' %}</b></button>
                    <button type="button" id="test">test</button>
                    <p id="error" style="text-align: center; color: red; display: none">Нужно выбрать места для бронирования или покупки билетов.</p>
                    <!-- Modal -->
                    <div class="modal fade" id="buyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header bg-success">
                            <h5 class="modal-title" id="deleteModal1Label-{{ forloop.counter }}">Подтверждение покупки</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                              <div class="modal-body">
                                <div class="row">
                                    <div class="col-xl-6" style="text-align: -webkit-center; padding: 30px; max-width: 150px">
                                        <a href="https://next.privat24.ua/"><img src="{% static 'cms/dist/img/privat.jpg' %}" width="100%" height="80"></a>
                                    </div>
                                    <div class="col-xl-6" style="text-align: -webkit-center; padding: 30px; max-width: 150px">
                                        <a href="https://www.ipay.ua/ru"><img src="{% static 'cms/dist/img/ipay.png' %}" width="100%" height="80"></a>
                                    </div>
                                    <p style="text-align: center">{% trans 'К оплате' %} - <span class="num_cost"></span> {% trans 'грн.' %}</p>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button id="buy" type="button" class="btn btn-success" data-bs-dismiss="modal">Оплатить</button>
                              </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/ticket.js' %}"></script>
    <script>
        function get_tickets(){
            $.ajax({
                url: '{% url "ticket" session.id %}',
                type: 'GET',
                data: {
                    'row_list': collect_data.get('row_list'),
                    'place_list': collect_data.get('place_list'),
                    'status': collect_data.get('status'),
                },
                success: (data) => {
                    let ticket = data.tickets
                    let sold_list = []
                    $(ticket).each(function (index, value){
                        let list = []
                        let place = value.place
                        let row = value.row
                        list.push(place, row)
                        sold_list.push(JSON.stringify(list))
                    })
                    $('.part').each(function (index, elem) {
                        let list = []
                        let place = $(elem).attr('place')
                        let row = $(elem).attr('row')
                        list.push(place, row)
                        if ($.inArray(JSON.stringify(list), sold_list) !== -1){
                            $(this).addClass('reserve').removeClass('selected unselected').attr('fill', 'grey')
                            $('#numb-reserved').html($('.reserve').length)
                            $('.reserve').unbind('click');
                        }
                    })
                },
                error: (error) => {
                    console.log(error);
                },
                cache: false,
            })
        }
        setTimeout(get_tickets(), 100)
        setInterval(get_tickets, 1000)
    </script>
{% endblock %}
