.delete-gallery-form:hover {
            background-color: red;
            cursor: pointer;
        }

.delete-gallery-form1:hover {
            background-color: red;
            cursor: pointer;
        }
