{% extends 'cms/layout/base.html' %}
{% load static %}

{% block title %}Добавить фильм{% endblock %}

{% block content %}
    <div style="margin: 30px 50px 0 50px">
        <form id="form-container" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div style="margin-bottom: 30px">
                {{ base_form.name.errors }}
                <label for="id_name">Название фильма</label>
                <span style="margin-left: 20px">{{ base_form.name }}</span>
            </div>
            <div style="margin-bottom: 30px">
                {{ base_form.description.errors }}
                <label for="id_description" style="vertical-align: top">Описание</label>
                <span style="margin-left: 20px">{{ base_form.description }}</span>
            </div>


            <div style="margin-bottom: 30px">
                {{ base_form.main_picture.errors }}
                <label for="id_main_picture">Главная картинка</label>
                <span style="margin-left: 20px">{{ base_form.main_picture }}</span>
            </div>

            <span><b>Галерея картинок:</b></span>
            {{ gallery_formset.management_form }}
            <div id="form_set">
            </div>
            <input type="button" value="Add More" id="add_more">
            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    {{ gallery_formset.empty_form }}
                </table>
            </div>

            <div style="margin-bottom: 30px">
                {{ base_form.trailer.errors }}
                <label for="id_trailer" style="vertical-align: top">Ссылка на трейлер</label>
                <span style="margin-left: 20px">{{ base_form.trailer }}</span>
            </div>
            <div style="margin-bottom: 30px">
                <span style="margin-right: 50px; "><b>Тип кино</b></span>
                <span>{{ base_form.type_2d }}</span>
                <label for="id_type_2d" style="vertical-align: top; margin-right: 20px">2D</label>
                <span>{{ base_form.type_3d }}</span>
                <label for="id_type_3d" style="vertical-align: top; margin-right: 20px">3D</label>
                <span>{{ base_form.type_imax }}</span>
                <label for="id_type_imax" style="vertical-align: top; margin-right: 20px">IMAX</label>
            </div>
            <div style="margin-bottom: 30px">
                {{ base_form.premier_date.errors }}
                <label for="id_premier_date" style="vertical-align: top">Дата премьеры</label>
                <span style="margin-left: 20px">{{ base_form.premier_date }}</span>
            </div>

            <span><b>SEO блок:</b></span>
            <div style="text-align: right; margin: 0 465px 60px 0">
                <div style="margin-bottom: 15px">
                    {{ seo_form.url.errors }}
                    <label for="id_url" style="vertical-align: top">URL:</label>
                    <span style="margin-left: 10px">{{ seo_form.url }}</span>
                </div>
                <div style="margin-bottom: 15px">
                    {{ seo_form.title.errors }}
                    <label for="id_title" style="vertical-align: top">Title:</label>
                    <span style="margin-left: 10px">{{ seo_form.title }}</span>
                </div>
                <div style="margin-bottom: 15px">
                    {{ seo_form.keyword.errors }}
                    <label for="id_keyword" style="vertical-align: top">Keywords:</label>
                    <span style="margin-left: 10px">{{ seo_form.keyword }}</span>
                </div>
                <div style="margin-bottom: 30px">
                    {{ seo_form.description.errors }}
                    <label for="id_description" style="vertical-align: top">Description:</label>
                    <span style="margin-left: 10px">{{ seo_form.description }}</span>
                </div>
            </div>
            <div style="padding-bottom: 30px; display: flex; margin: 0 500px 0 500px">
                <input type="submit" value="Сохранить" style="margin: 0 auto; display: block">
                <input type="reset" value="Вернуть базовую версию" style="margin: 0 auto; display: block">
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'cms/scripts/gallery_formset.js' %}"></script>
{% endblock %}