{% extends 'cms/layout/base.html' %}
{% load static %}

{% block title %}Добавить фильм{% endblock %}

{% block content %}
    <div style="margin: 30px 50px 0 50px">
        <form id="form-container" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div style="margin-bottom: 30px">
                {{ base_form.name.errors }}
                <label for="id_name">Название фильма</label>
                <span style="margin-left: 20px">{{ base_form.name }}</span>
            </div>
            <div style="margin-bottom: 30px">
                {{ base_form.description.errors }}
                <label for="id_description" style="vertical-align: top">Описание</label>
                <span style="margin-left: 20px">{{ base_form.description }}</span>
            </div>


            <div style="margin-bottom: 30px">
                {{ base_form.main_picture.errors }}
                <label for="id_main_picture" style="margin-right: 23px">Главная картинка</label>
                <img src="{% static "cms/dist/img/preview.png" %}" id="picture" height="270" width="200">
                <a class="btn btn-outline-success btn-file" style="margin: 0 50px 0 50px; min-width: 150px">Загрузить
                    <input type="file" onchange="preview()" name="base_form-main_picture" accept="image/*" required="" id="id_base_form-main_picture">
                </a>
                <a id="delete-picture" class="btn btn-outline-danger btn-file" style="margin-right: 10px; min-width: 150px">Удалить</a>
            </div>


            <span><b>Галерея картинок</b><br/></span>
            <div style="margin: 10px 0 35px 0">
                {{ gallery_formset.management_form }}
                <div id="form_set" style="display: inline-block">
                    <div style="display: inline-block">
                        <span style="margin: 0 30px 0 30px; vertical-align: center"><b>Размер: 1000x190</b></span>
                    </div>
                </div>

                <div style="display: inline-block">
                    <button class="add-more-img btn btn-block btn-success" type="button" id="add_more" style="min-width: 150px; margin-left: 20px; margin-top: 25px">Добавить</button>
                </div>

                <div class="delete-list" style="display: none"></div>

                <div id="empty_form" style="display: none">
                    <div id="delete-form" style="display: inline-block">
                        <div style="text-align: right">
                            <a class="btn-delete-form" onclick="delete_image(this.id)" id="{{ gallery_formset.empty_form.prefix }}">
                                <img src="{% static "cms/dist/img/deleteimg.png" %}">
                            </a>
                        </div>
                        {{ gallery_formset.empty_form.id }}
                        {{ gallery_formset.empty_form.image }}
                    </div>
                </div>

            </div>


            <div style="margin-bottom: 30px">
                {{ base_form.trailer.errors }}
                <label for="id_trailer" style="vertical-align: top">Ссылка на трейлер</label>
                <span style="margin-left: 20px">{{ base_form.trailer }}</span>
            </div>
            <div style="margin-bottom: 30px">
                <span style="margin-right: 50px; "><b>Тип кино</b></span>
                <span>{{ base_form.type_2d }}</span>
                <label for="id_type_2d" style="vertical-align: top; margin-right: 20px">2D</label>
                <span>{{ base_form.type_3d }}</span>
                <label for="id_type_3d" style="vertical-align: top; margin-right: 20px">3D</label>
                <span>{{ base_form.type_imax }}</span>
                <label for="id_type_imax" style="vertical-align: top; margin-right: 20px">IMAX</label>
            </div>
            <div style="margin-bottom: 30px">
                {{ base_form.premier_date.errors }}
                <label for="id_premier_date" style="vertical-align: top">Дата премьеры</label>
                <span style="margin-left: 20px">{{ base_form.premier_date }}</span>
            </div>

            <span><b>SEO блок:</b></span>
            <div style="text-align: right; margin: 0 465px 60px 0">
                <div style="margin-bottom: 15px">
                    {{ seo_form.url.errors }}
                    <label for="id_url" style="vertical-align: top">URL:</label>
                    <span style="margin-left: 10px">{{ seo_form.url }}</span>
                </div>
                <div style="margin-bottom: 15px">
                    {{ seo_form.title.errors }}
                    <label for="id_title" style="vertical-align: top">Title:</label>
                    <span style="margin-left: 10px">{{ seo_form.title }}</span>
                </div>
                <div style="margin-bottom: 15px">
                    {{ seo_form.keyword.errors }}
                    <label for="id_keyword" style="vertical-align: top">Keywords:</label>
                    <span style="margin-left: 10px">{{ seo_form.keyword }}</span>
                </div>
                <div style="margin-bottom: 30px">
                    {{ seo_form.description.errors }}
                    <label for="id_description" style="vertical-align: top">Description:</label>
                    <span style="margin-left: 10px">{{ seo_form.description }}</span>
                </div>
            </div>

            <div style="text-align: center">
                <button class="btn btn-block btn-success" type="submit" style="max-width: 150px; display: inline-block; margin: 0 60px 30px 0; height: 40px">Сохранить</button>
                <button class="btn btn-block btn-warning" type="reset" style="max-width: 210px; display: inline-block; height: 40px; margin: 0 60px 30px 0;"><a style="color: black" href="{% url 'add' %}">Вернуть базовую версию</a></button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'cms/scripts/gallery_formset.js' %}"></script>
<script src="{% static 'cms/scripts/imgload.js' %}"></script>
{% endblock %}